<!DOCTYPE html>
<html lang="en">
<head>
  <title>CODE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1><%= title %></h1>
      <p>kindly upload the input data to calculate reward point</p>
     </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

      </div>
    </div>
  </nav>

  <div class="container text-center">
      <div class="col-sm-12">
        <div class="form">
          <h1>Upload input data txt file</h1>
              <form action="upload" enctype="multipart/form-data" method="POST">
                  <div class="inner-wrap">
                  <label><input type="file" id="" name="inputFile" /></label>
                  <div class="button-section">
                    <br>
                    <input type="submit" name="Upload" value="Upload Input Data"/>
                  </div>
                </div>
            </div>
          </form>
          <div>
          <p><%= reward %></p>  
          </div>
        </div>
  </div>
</body>
</html>
















